
<!DOCTYPE html>
<html lang="en">


<!--
filename:Home
Author:Brandon Roy

websitename:companyDirectory

description:
THis will be the home page and will have links and a navbar to go to different pages
-->


<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body>


<h1>Welcome to the business directory</h1>








</body>
</html>



